.slider {
  display: flex;
  justify-content: center;
  position: relative;
  width: 550px;
  height: 650px;
  background-color: black;
}
.slides {
  display: flex;
  align-items: center;
}

.slider img {
  display: none;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

img.displaySlide {
  display: flex;
  animation: fade;
  animation-duration: 1500ms;
}

.slider button {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  padding: 10px 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.next {
  backdrop-filter: blur(10px);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all 0.2s linear;
  box-shadow: 0px 0px 10px 0px #f2f3f4;
  right: 1%;
}

.prev {
  backdrop-filter: blur(10px);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all 0.2s linear;
  box-shadow: 0px 0px 10px 0px #f2f3f4;
  left: 1%;
}

.prev:hover {
  transform: translate3d(-3px, 0, 0);
}

.next:hover {
  transform: translate3d(3px, 0, 0);
}

.next::after,
.prev::after {
  content: "";
  position: absolute;
  left: 8px;
  z-index: 1;
  display: block;
  width: 25px;
  height: 25px;
  border-top: 3px solid #f2f3f4;
  border-left: 3px solid #f2f3f4;
}

.next::after {
  top: 12px;
  transform: rotate(135deg);
}

.prev::after {
  top: 12px;
  left: 15px;
  transform: rotate(-45deg);
}

.counter {
  display: flex;
}
